<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".meditationPage.MeditationActivity"
            android:exported="false" />
        <activity
            android:name=".historyPage.BecksTestHistoryDetails"
            android:exported="false" />
        <activity
            android:name=".historyPage.EmotionsHistoryDescription"
            android:exported="false" />
        <activity
            android:name=".homePage.FeelingsDescription"
            android:exported="false" />
        <activity
            android:name=".profilePage.ChooseAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".profilePage.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".homePage.TestResultActivity"
            android:exported="false" />
        <activity
            android:name=".homePage.BeckQuestionsTest"
            android:exported="false" />
        <activity
            android:name=".homePage.Home"
            android:exported="false" />
        <activity
            android:name=".loginPages.LoginOrRegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_login_or_register"
            android:theme="@style/Theme.MindBoost.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginPages.Register"
            android:exported="false" />
        <activity
            android:name=".loginPages.Login"
            android:exported="false" />
        <activity
            android:name=".loginPages.CompleteGoogleSignInActivity"
            android:exported="false" />
    </application>

</manifest>